---
import '@fontsource/oswald'
import {ClientRouter} from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/qr.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Parrilla El Tano</title>
		<ClientRouter/>
	</head>
	<body class="flex flex-col justify-between">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		box-sizing: border-box;
		font-family: 'oswald';
		background-color: black;
	}
</style>

