---
import '@fontsource/oswald'
import {ClientRouter} from "astro:transitions";
import SliderPanel from '../components/slider-panel/SliderPanel.astro';
import Chart from '../components/chart/Chart.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/qr.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Parrilla El Tano</title>
		<ClientRouter/>
	</head>
	<body class="flex flex-col justify-between select-none relative min-h-screen">
        <main class="flex-1">
            <slot />
        </main>
		{
			Astro.url.pathname !== '/' && 
				<SliderPanel>
					<Chart />
				</SliderPanel>
			
		}
        
    </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		box-sizing: border-box;
		font-family: 'oswald';
		background-color: black;
	}

	main {
        position: relative;
        z-index: 1;
    }
</style>

